<div class="main-section">
  <h1 class="principal-title">Un site 100% dédié au lancement des meilleurs sorties Tech du moment</h1>
  <div class="button-section">
    <a href="#" class="button">Dernières sorties</a>
    <a href="/products" class="button">Voir tous les produits</a>
  </div>
</div>

<div class="second-section">
  <h3 class="sub-title">Produit du mois :</h3>
  <div class="card-product">

  </div>
</div>
